#header {
    grid-template-columns: 1fr 2fr;
    font-family: var(--body-font);
    margin-top: 110px;
}

#header > h1 {
    font-family: var(--display-font);
    font-size: 2rem;
    justify-self: end;
}

.header-copy {
    width: 50%;
}

.header-copy > p:first-of-type {
    text-transform: uppercase;
    font-weight: 600;
}